@media all and (min-width: 800px) {
	#nav {
    	width: 300px;
    	float: left;
    	margin-right: 20px;
  	}
  	#grid {
   		width: 450px;
    	float: left;
  	}
}

@media all and (max-width: 799px) and (min-width: 480px){
  	#nav {
    	width: 400px;
  	}
  	#grid {
    	width: 400px;
  	}
}

@media all and (max-width: 479px) {
	#nav {
    	width: 100%;
  	}
  	#grid {
    	width: 100%;
  	}
}